﻿@{
    ViewBag.Title = "Home Page";
}
@model MvcForms.Models.PersonInfoViewModel

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Заполните данные.</h4>
        <hr />

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.HaveCriminalRecord, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <span>Да</span> @Html.RadioButtonFor(model => model.HaveCriminalRecord, true)
                <span>Нет</span> @Html.RadioButtonFor(model => model.HaveCriminalRecord, false)
            </div>
        </div>
        <div class="form-group article-number">
            @Html.LabelFor(m => m.ArticleNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.ArticleNumber, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Сохранить" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Content("~/Scripts/index.js")"></script>
}